/* [project]/components/SiteFooter.module.css [app-client] (css) */
.SiteFooter-module__p-5sba__footer {
  background-color: var(--color-dark);
  color: var(--color-cream);
  padding: 3rem var(--space-lg) 5rem;
  padding-bottom: 7rem;
}

.SiteFooter-module__p-5sba__container {
  max-width: var(--max-width);
  grid-template-columns: 1fr;
  gap: 2.5rem;
  margin: 0 auto;
  display: grid;
}

.SiteFooter-module__p-5sba__column1 {
  flex-direction: column;
  gap: 2rem;
  display: flex;
}

.SiteFooter-module__p-5sba__teamsTitle h2 {
  padding-bottom: 2rem;
  font-size: 2rem;
  font-weight: 500;
}

.SiteFooter-module__p-5sba__newsletterTitle {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 700;
}

.SiteFooter-module__p-5sba__newsletterForm {
  flex-direction: column;
  gap: 1rem;
  max-width: 300px;
  display: flex;
}

.SiteFooter-module__p-5sba__emailInput {
  background-color: var(--color-cream);
  border: 1px solid var(--color-cream);
  color: var(--color-dark);
  font-family: var(--font-primary);
  border-radius: 0;
  margin-top: 2rem;
  padding: 1.5rem;
  font-size: 1.1rem;
}

.SiteFooter-module__p-5sba__emailInput::placeholder {
  color: var(--color-dark);
  opacity: .5;
}

.SiteFooter-module__p-5sba__submitButton {
  border: 2px solid var(--color-cream);
  color: var(--color-cream);
  font-family: var(--font-primary);
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  font-style: initial;
  transition: all var(--transition-fast);
  background: none;
  border-radius: 8px;
  align-self: flex-start;
  margin-top: 2rem;
  padding: 1.5rem 2rem;
}

.SiteFooter-module__p-5sba__submitButton:hover {
  background-color: var(--color-cream);
  color: var(--color-dark);
}

.SiteFooter-module__p-5sba__column2 {
  flex-direction: column;
  gap: 2rem;
  display: flex;
}

.SiteFooter-module__p-5sba__tagline p {
  font-size: 2.2rem;
  font-weight: 550;
  line-height: 1.3;
}

.SiteFooter-module__p-5sba__tagline em {
  font-style: italic;
}

.SiteFooter-module__p-5sba__orange {
  color: var(--color-orange);
}

.SiteFooter-module__p-5sba__lightgreen {
  color: var(--color-lightgreen);
}

.SiteFooter-module__p-5sba__locations {
  grid-template-columns: 1fr;
  gap: 2rem;
  display: grid;
}

.SiteFooter-module__p-5sba__locationCity {
  color: var(--color-orange);
  white-space: nowrap;
  margin-bottom: .5rem;
  font-size: 1.3rem;
}

.SiteFooter-module__p-5sba__locationAddress {
  font-size: 1.1rem;
  line-height: 1.5;
}

.SiteFooter-module__p-5sba__contactTitle {
  text-underline-offset: 4px;
  margin-bottom: .75rem;
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: underline;
}

.SiteFooter-module__p-5sba__contactText {
  max-width: 280px;
  margin-bottom: .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

.SiteFooter-module__p-5sba__contactEmail {
  color: var(--color-cream);
  font-weight: 600;
}

@media (min-width: 900px) {
  .SiteFooter-module__p-5sba__container {
    grid-template-columns: 1.05fr 2.4fr 1fr;
    gap: 2rem;
  }

  .SiteFooter-module__p-5sba__locations {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*# sourceMappingURL=components_SiteFooter_module_css_bad6b30c._.single.css.map*/